@*doi model thanh hop view model*@

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
<link href="~/Content/style_K/Style_home.css" rel="stylesheet" />
<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />
<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner1.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner2.png">
            </div>
            @*<div class="slide" onclick="window.location.href=''">
                    <img src="~/Content/img/banner3.jpg" style="width:1200px;height:450px">
                </div>*@
        </div>

        @*Nút điều hướng*@
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        @*dau cham*@
        <div class="dots"></div>
    </div>
</section>
<script src="~/Content/js/js_banner.js"></script>

@*iphone *@
<div class="category-section">
    <h2 class="category-title">IPhone</h2>
    
    <div class="row">
        @foreach (var product in Model.Iphones)
        {
            //Chia 4 cot
            <div class="col-md-3">
                <a class="home-product-link" href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                    <div class="home-product-card">

                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" class="home-product-image" />

                        <h5 class="home-product-name">@product.ProductName</h5>

                        <p class="home-product-price">@String.Format("{0:N0}", product.ProductPrice) đ</p>

                    </div>
                </a>
            </div>
        }
    </div>
    <div class="view-more-container">
        <a href="@Url.Action("TrangIphone", "Default")" class="view-more-btn">Xem tất cả iPhone ></a>
    </div>
</div>




@*trang ipad*@

<div class="category-section">
    <h2 class="category-title">Ipad</h2>
    <div class="row">
        @foreach (var product in Model.Ipads)
        {
            //Chia 4 cot
            <div class="col-md-3">
                <a class="home-product-link" href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                    <div class="home-product-card">

                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" class="home-product-image" />

                        <h5 class="home-product-name">@product.ProductName</h5>

                        <p class="home-product-price">@String.Format("{0:N0}", product.ProductPrice) đ</p>

                    </div>
                </a>
            </div>
        }
    </div>
    <div class="view-more-container">
        <a href="@Url.Action("TrangIpad", "Default")" class="view-more-btn">Xem tất cả Ipad ></a>
    </div>
</div>
@*trang Mac*@

<div class="category-section">
    <h2 class="category-title">MacBook</h2>
    <div class="row">
        @foreach (var product in Model.Macs)
        {
            //Chia 4 cot
            <div class="col-md-3">
                <a class="home-product-link" href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                    <div class="home-product-card">

                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" class="home-product-image" />

                        <h5 class="home-product-name">@product.ProductName</h5>

                        <p class="home-product-price">@String.Format("{0:N0}", product.ProductPrice) đ</p>

                    </div>
                </a>
            </div>
        }
    </div>
    <div class="view-more-container">
        <a href="@Url.Action("TrangMac", "Default")" class="view-more-btn">Xem tất cả Macbook ></a>
    </div>
</div>
@* trang watch*@

<div class="category-section">
    <h2 class="category-title">Watch</h2>
    <div class="row">
        @foreach (var product in Model.Watches)
        {
            //Chia 4 cot
            <div class="col-md-3">
                <a class="home-product-link" href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                    <div class="home-product-card">

                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" class="home-product-image" />

                        <h5 class="home-product-name">@product.ProductName</h5>

                        <p class="home-product-price">@String.Format("{0:N0}", product.ProductPrice) đ</p>

                    </div>
                </a>
            </div>
        }
    </div>
    <div class="view-more-container">
        <a href="@Url.Action("TrangWatch", "Default")" class="view-more-btn">Xem tất cả Watch ></a>
    </div>
</div>


