@model DoAn_web.Models.Product
@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />

@*HTML ĐÃ ĐỔI TÊN CLASS *@

<div class="product-detail-container">

  
    <div class="detail-row">

      
        <div class="detail-column-left">
            <img src="@Url.Content(Model.ProductImage)" alt="@Model.ProductName" class="product-detail-image" />
        </div>

      
        <div class="detail-column-right">

            <h2 class="product-detail-name">@Model.ProductName</h2>

            <p class="product-detail-price">@String.Format("{0:N0}", Model.ProductPrice) đ</p>

            <hr />

            <div class="product-detail-description">
                <p>@Model.ProductDecription</p>
            </div>

            <hr />

            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
            {
                @* Gửi ID sản phẩm đi *@
                @Html.Hidden("productID", Model.ProductID)

                <div class.form-inline">
                    <label style="margin-right: 10px;">Số lượng:</label>
                    <input type="number" name="quantity" value="1" min="1" class="form-control" style="width: 80px;" />

                    <button type="submit" class="btn btn-primary btn-lg add-to-cart-btn" style="margin-left: 15px;">
                        Thêm vào giỏ hàng
                    </button>
                </div>
            }

        </div>
    </div>
</div>